___

<a style="background-color:tomato;">Copyright 2021 Hermawansyah.</a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general.

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

In [ ]:
## Data types

### Numbers

In [1]:
1 + 2

3

In [2]:
1 * 2

2

In [3]:
2 / 2

1.0

In [4]:
2 ** 3

8

In [5]:
6 % 2

0

In [6]:
3 % 2

1

In [7]:
(2 + 8) * (2 + 5)

70

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
a = 2
b = 3

In [10]:
c = a + b

In [11]:
c

5

### Strings

In [12]:
'First'

'First'

In [13]:
"Second"

'Second'

In [14]:
" work smart and play hard"

' work smart and play hard'

### Printing

In [15]:
a = 'hello'

In [16]:
a

'hello'

In [17]:
print(a)

hello

In [18]:
name = 'Awan' 
age = 24

In [19]:
print('My name is: {one}, and my age is: {two}'.format(one=name,two=age))

My name is: Awan, and my age is: 24

In [21]:
print('My name is: {}, and my age is: {}'.format(name,age))

My name is: Awan, and my age is: 24

### Lists

In [22]:
[1,2,3]

[1, 2, 3]

In [24]:
['hello',1,[2,3]]

['hello', 1, [2, 3]]

In [31]:
lists = ['a','b','c']

In [32]:
lists.append('d')

In [33]:
lists

['a', 'b', 'c', 'd']

In [34]:
lists[0]

'a'

In [35]:
lists[1]

'b'

In [36]:
lists[1:]

['b', 'c', 'd']

In [37]:
lists[:1]

['a']

In [38]:
lists[0] = 'NEW'

In [39]:
lists

['NEW', 'b', 'c', 'd']

In [40]:
newlist = [1,2,3,[4,5,['target']]]

In [41]:
newlist[3]

[4, 5, ['target']]

In [42]:
newlist[3][2]

['target']

In [43]:
newlist[3][2][0]

'target'

### Dictionaries

In [35]:
a = {'key1':'item1','key2':'item2'}

In [36]:
a

{'key1': 'item1', 'key2': 'item2'}

In [37]:
a['key1']

'item1'

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [48]:
t = (1,2,3)

In [50]:
t[0]

1

In [51]:
t[2]

3

In [52]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

### Sets

In [6]:
{1,2,3}

{1, 2, 3}

In [7]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [53]:
2 > 2

False

In [54]:
0 < 2

True

In [55]:
2 >= 2

True

In [56]:
3 <= 4

True

In [57]:
7 == 7

True

In [58]:
'hi' == 'hai'

False

## Logic Operators

In [59]:
(7 > 8) and (5 < 3)

False

In [60]:
(5 > 2) or (1 < 3)

True

In [61]:
(2 == 7) or (5 == 3) or (5 == 5)

True

## if,elif, else Statements

In [62]:
if 1 < 2:
    print('Hi!')

Hi!

In [63]:
if 1 < 2:
    print('Low')
else:
    print('High')

Low

In [64]:
if 1 > 2:
    print('Low')
else:
    print('High')

High

In [65]:
if 1 == 2:
    print('Low')
elif 3 == 3:
    print('Normal')
else:
    print('High')

Normal

## for Loops

In [67]:
seq = [1,2,3,4,5]

In [68]:
for item in seq:
    print(item)

1
2
3
4
5

In [69]:
for item in seq:
    print('Hai')

Hai
Hai
Hai
Hai
Hai

In [70]:
for ice_cream in seq:
    print(ice_cream+ice_cream)

2
4
6
8
10

## while Loops

In [71]:
x = 1
while x < 5:
    print('x is: {}'.format(x))
    x = x+1

x is: 1
x is: 2
x is: 3
x is: 4

## range()

In [1]:
range(11)

range(0, 11)

In [2]:
for xyz in range(11):
    print(xyz)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## list comprehension

In [4]:
xyz = [1,2,3,4]

In [5]:
out = []
for item in xyz:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [6]:
[item**2 for item in xyz]

[1, 4, 9, 16]

## functions

In [7]:
def function(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [8]:
function

In [9]:
function()

default

In [10]:
function('new param')

new param

In [11]:
function(param1='new param')

new param

In [12]:
def square(x):
    return x**2

In [15]:
abc = square(2)

In [16]:
print(abc)

4

## lambda expressions

In [17]:
def awan(var):
    return var*2

In [18]:
awan(2)

4

In [19]:
lambda var: var*2

## map and filter

In [20]:
seq = [1,2,3,4,5]

In [21]:
map(awan,seq)

In [22]:
list(map(awan,seq))

[2, 4, 6, 8, 10]

In [23]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [24]:
filter(lambda item: item%2 == 0,seq)

In [25]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [26]:
st = 'hello I am awan'

In [27]:
st.lower()

'hello i am awan'

In [28]:
st.upper()

'HELLO I AM AWAN'

In [29]:
st.split()

['hello', 'I', 'am', 'awan']

In [31]:
tweet = 'Tesla car! #Trending1'

In [32]:
tweet.split('#')

['Tesla car! ', 'Trending1']

In [33]:
tweet.split('#')[1]

'Trending1'

In [38]:
a

{'key1': 'item1', 'key2': 'item2'}

In [39]:
a.keys()

dict_keys(['key1', 'key2'])

In [40]:
a.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [41]:
lst = [1,2,3]

In [42]:
lst.pop()

3

In [43]:
lst

[1, 2]

In [44]:
'abc' in [1,2,3]

False

In [45]:
'abc' in ['abc','d','e']

True

In [ ]:
# Thanks for !